@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');

body {
    font-size: 10px;
    font-family: 'Rambla';
}

.bg-very-dark-blue {
    background-color: #310050
}

.define-boundary {
    max-width: 400px;
    min-width: 400px;
    min-height: 400px;
    max-height: 500px;
}

